body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    text-align: left;
  }
  
  h1 {
    color: rgb(238, 13, 238);
    font-size: 3rem;
    font-weight: bold;
    text-align: left;
  }
  
  h2 {
    color: rgb(238, 13, 238);
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .box .done {
    color: rgb(154, 37, 37);
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  ul.list {
    margin-left: 20px;
  }
  
  ul.list li {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 5px;
  }

  ul.list li:nth-child(1) {
    color: blue;
  }
  
  ul.list li:nth-child(2) {
    color: rgb(3, 134, 3);
  }
  
  ul.list li:nth-child(3) {
    color: rgb(3, 134, 3);
  }
  
  ul + p {
    margin-top: 20px;
    font-style: italic;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
  }
  